@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

body {
  font-family: 'Noto Sans';
}

.App {
  height: 100vh;
  position: relative;
}

.container {
  display: flex;
  flex-direction: row;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  padding: 10px;
  color: white;
  background: #0d1973;
}

.App-title {
  font-size: 3rem;
  line-height: 1;
  margin-bottom:0;
}

.Man {
  border: 2px solid #fff;
  padding: 1rem;
  border-radius: 50%;
  display: inline-block;
  float: left;
  width: 50px;
  margin:1rem;
}

h4 {
  font-weight: 200;
  font-style: italic;
  margin-top: .35rem;
}

.App-intro {
  font-size: large;
}

.Wingman {
  width:60%;
  background: #f1f4f7;
  color: #0d1973;
  overflow-y: scroll;
}

.Wings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Wing {
  border-radius:5px;
  background:#fff;
  padding:1rem;
  margin:1rem;
  font-size:13px;
  box-shadow: 1px 2px 15px rgba(0,0,0,.1);
  display: flex;
}

.flight {
  background: #c0c0c0;
  border-radius: 5px;
  padding:5px;
  margin-left:5px;
}

.Wing-wrapper {
  width:100%;
}

.Info {
  width:50%;
}

.Score {
  margin:2rem 1rem;
  text-align: center;
  width:50%;
  align-self: center;
}
.Score span.desc {
  /*color: #d7797d;*/
  padding:1rem;
}

.error {
  display:none;
}

.votes-container {
  display: relative !important;
}

.Votes {
  width:100%;
  margin-top:4rem 0 1rem;
}

.upvote-wrap, .downvote-wrap {
  display: inline-block;
  width:50%;
}

.upvote, .downvote {
  color:#fff;
  text-align: center;
  font-size:1rem;
  padding:1rem 0 0;
  margin:.25rem;
  border-bottom:1px solid #222;
}
.upvote:hover, .downvote:hover {
  cursor:pointer;
  border-bottom-width:2px;
}

.Votes svg {
  width:40px;
  height:40px;
}
.Votes svg:hover {
}
.upvote svg {
  fill: #d7797d;
}

.downvote svg {
  stroke: #222;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 2;
}

.Dashboard {
  width:40%;
}

.Pools {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.Lane {
  width:25%;
}

.Pool {
  margin:1rem;
  border-radius:5px;
  background:#f0f0f0;
  height:20px;
}

.Button {
}

.Events {
}

.Event {
  padding:1rem;
}

.Status {
  position: fixed;
  bottom: 0;
  left:0;
  width:100%;
  z-index: 10;
  background: #fff;
  margin-bottom: -120px;
  transition: margin .5s;
  box-shadow: -3px -5px 20px rgba(0,0,0,.15);
  text-align: center;
}

.Status > h2 {
  margin:0;
  font-weight: bold;
  font-size:1.1em;
  margin:.25rem;
  color:#0d1973;
}

.Status h5 {
  margin-top:0;
}

.Status:hover {
  margin-bottom:0;
}

/* statuses */

.green {
  background: #8dc63f;
  color:#fff;
  background: linear-gradient(to bottom, #d2ff52 0%, #75ca00; 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.yellow{
  background: yellow;
}
.red {
  background: red;
}

.gray {
  background: #ccc;
}

.green-event {
  color: #8dc63f;
}
.yellow-event {
  color: yellow;
}
.red-event {
  color: red;
}
